.event-register{
    background: url("https://i.imgur.com/E1BVq25.jpg");
    background-size: cover;
}
/* .event-register{
    background: url("https://i.imgur.com/E1BVq25.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 155px 71px;
    justify-content: center;

} */